<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="trademanager-web">
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/web-resources"/>
        <wb-resource deploy-path="/" source-path="/src/main/webapp" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/java"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/resources"/>
        <dependent-module archiveName="trademanager-core-0.0.1-SNAPSHOT.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/trademanager-core/trademanager-core">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="trademanager-trade-0.0.1-SNAPSHOT.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/trademanager-trade/trademanager-trade">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="trademanager-strategies-0.0.1-SNAPSHOT.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/trademanager-strategies/trademanager-strategies">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <property name="context-root" value="trademanager-web"/>
        <property name="java-output-path" value="/trademanager-web/target/classes"/>
    </wb-module>
</project-modules>
